@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực Email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn cần truy cập vào email vừa đăng kí để kích hoạt tài khoản
</p>

