
<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<h1><span>I</span>-SOFA</h1>
								<h2>Sofa nhập chất lượng cao</h2>
								<p>I-SOFA là nơi bán sofa rẻ nhất thị trường</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="~/img/Imagehome/home/8743800-SOFA-CHERRY-2P-CHERRY-SOFA-2P-3.png" class="girl img-responsive" alt="" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6">
								<h1><span>I</span>-SOFA</h1>
								<h2>100% tự thiết kế</h2>
								<p>I-SOFA nhập khẩu sofa từ nhiều nước trên khắp thế giới với chất lượng tốt nhất</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="~/img/Imagehome/home/sofa_3P_kiki_9191488_1.png" class="girl img-responsive" alt="" />
							</div>
						</div>

						<div class="item">
							<div class="col-sm-6">
								<h1><span>I</span>-SOFA</h1>
								<h2>Nơi phục vụ tận tâm</h2>
								<p>Nhân viên xinh gái và phục vụ tận tâm và hài lòng khách hàng</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="~/img/Imagehome/home/Victoire-nau-bach-den-huyen-05-.png" class="girl img-responsive" alt="" />
							</div>
						</div>

					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section><!--/slider-->