@page "/Admin/Product/Edit/{proId}"
@model RazorPage.Areas.Admin.Pages.Product.EditModel
@{
}
<div class="animated fadeIn">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4>Sản phẩm</h4>
            </div>
            <div class="card-body">
                <div class="default-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Ảnh</a>
                        </div>
                    </nav>
                    <form method="post" asp-page="Product/Edit" asp-area="Admin" novalidate="novalidate" enctype="multipart/form-data">
                        <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center">Thêm danh sản phẩm</h3>
                                        </div>
                                        <hr>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="form-group">
                                                <label asp-for="input.ProductName" class="control-label mb-1"></label>
                                                <input id="cc-payment" asp-for="input.ProductName" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                <span asp-validation-for="input.ProductName"></span>
                                            </div>
                                            <div><img alt="avatar" style="max-height:200px;max-height:200px" src="@Model.input.Image"></div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label asp-for="input.fileImage" class=" form-control-label"></label></div>
                                                <div class="col-12 col-md-9"><input type="file" id="file-input" asp-for="input.fileImage" class="form-control-file"></div>
                                                <div class="col-12 col-md-9"><span asp-validation-for="input.fileImage"></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label asp-for="input.PriceIn" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.PriceIn" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.PriceIn"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label asp-for="input.PriceOut" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.PriceOut" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.PriceOut"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label asp-for="input.categoryId" class="control-label mb-1"></label>
                                                    <select id="categoryId" asp-items="Model.input.Categories" asp-for="input.categoryId">
                                                    </select>
                                                    <span asp-validation-for="input.categoryId"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label asp-for="input.Quantity" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.Quantity" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.Quantity"></span>
                                                </div>


                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label asp-for="input.Color" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.Color" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.Color"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label asp-for="input.Insurance" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.Insurance" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.Insurance"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label asp-for="input.Discount" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.Discount" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.Discount"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label asp-for="input.Marterial" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.Marterial" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.Marterial"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label asp-for="input.Length" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.Length" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.Length"></span>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label asp-for="input.Height" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.Height" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.Height"></span>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label asp-for="input.Depth" class="control-label mb-1"></label>
                                                    <input id="cc-payment" asp-for="input.Depth" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                    <span asp-validation-for="input.Depth"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="input.MadeIn" class="control-label mb-1"></label>
                                                <input id="cc-payment" asp-for="input.MadeIn" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                                <span asp-validation-for="input.MadeIn"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="input.Description" class="control-label mb-1"></label>
                                                <textarea id="summernote" asp-for="input.Description" type="text" class="form-control" aria-required="true" aria-invalid="false"></textarea>
                                                <span asp-validation-for="input.Description"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="input.InstructionsForUse" class="control-label mb-1"></label>
                                                <textarea id="summernote1" asp-for="input.InstructionsForUse" type="text" class="form-control" aria-required="true" aria-invalid="false"></textarea>
                                                <span asp-validation-for="input.InstructionsForUse"></span>
                                            </div>
                                            <div>
                                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                    <i class="fa fa-plus fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">Chỉnh sửa sản phẩm</span>
                                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <h3>Ảnh hiển thị của sản phẩm</h3>
                                    </div>
                                    <div>
                                        @if (Model.product.ImageDefault!= null)
                                        {
                                            <img src="@Model.product.ImageDefault" alt="Product Image" style="width: 600px; height: 400px;" />
                                        }
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/js/summernote_ckfinder.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <!-- Place the first <script> tag in your HTML's <head> -->
        <script src="https://cdn.tiny.cloud/1/9birnc9bqizltfv0h55452feqcfado1lqcj17z0je7cwf9p0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

        <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
       
    }
}
